header
    div.header__inner
        div.header__logo
            a(href="/" alt="logo")
                img(src="icons/logo.svg" title="logo")
        div.header__nav
            button.btn.header__nav--hambmenu
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16")
                    path(id="Combined_Shape" data-name="Combined Shape" d="M1,16a1,1,0,1,1,0-2H23a1,1,0,1,1,0,2ZM1,9A1,1,0,1,1,1,7H23a1,1,0,1,1,0,2ZM1,2A1,1,0,0,1,1,0H23a1,1,0,1,1,0,2Z" fill="#22252e")
            nav
                ul.header__nav-lists
                    li
                        div.dropdown
                            a.dropdown-toggle.header-nav-link(href="#") why us
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="#") item 1
                                li
                                    a.dropdown-item(href="#") item 2
                                li
                                    a.dropdown-item(href="#") item 3
                                li
                                    a.dropdown-item(href="#") item 4
                    li
                        a.header-nav-link vpn apps
                    li
                        div.dropdown
                            a.dropdown-toggle.header-nav-link(href="#") support
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="#") item 1
                                li
                                    a.dropdown-item(href="#") item 2
                                li
                                    a.dropdown-item(href="#") item 3
                                li
                                    a.dropdown-item(href="#") item 4
                    li
                        div.dropdown
                            a.dropdown-toggle.header-nav-link(href="#") resources
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="#") item 1
                                li
                                    a.dropdown-item(href="#") item 2
                                li
                                    a.dropdown-item(href="#") item 3
                                li
                                    a.dropdown-item(href="#") item 4
        div.header__buttons
            .btn-group
                button.btn.btn-white.btn-login log in
                button.btn.btn-green get started