section.pricing
    .container
        .row
            .col-12
                h1 Sign up today – 7 day money back guarantee
            .col-12
                .row.pricing-cards
                    .col-xl-4
                        article.pricing-card
                            .pricing-card__period MONTHLY
                            .pricing-card__price
                                span.pricing-card__price--currency $
                                span.pricing-card__price--item 6.95
                                span.pricing-card__price-desc /mo.
                            .pricing-card__desc Includes all VPN features.
                            .pricing-card__action
                                button.btn.btn-lg.btn-white sign up
                    .col-xl-4
                        article.pricing-card.pricing-advantage
                            .pricing-card__period Two Years
                            .pricing-card__price
                                span.pricing-card__price--currency $
                                span.pricing-card__price--item 2.91
                                span.pricing-card__price-desc /mo.
                            .pricing-card__desc
                                .pricing-card__desc--profit
                                    span.old-price
                                        span $
                                        span 166.80
                                    span.profit-price $69.95 per two years
                                .profit-percent Save 52%*
                            .pricing-card__action
                                button.btn.btn-lg.btn-green sign up
                    .col-xl-4
                        article.pricing-card
                            .pricing-card__period YEARLY
                            .pricing-card__price
                                span.pricing-card__price--currency $
                                span.pricing-card__price--item 3.33
                                span.pricing-card__price-desc /mo.
                            .pricing-card__line
                            .pricing-card__desc
                                .pricing-card__desc--profit
                                    span.old-price
                                        span $
                                        span 83.40
                                    span.profit-price $39.95 per years
                                .profit-percent Save 52%*
                            .pricing-card__action
                                button.btn.btn-lg.btn-white sign up
            .col-12
                .pricing-logo-pay
                    h4 Ways to pay:
                    ul.logo-pay__liat
                        li
                            img(src="./icons/pay/visa.svg" height="100" width="100" alt="visa")
                        li
                            img(src="./icons/pay/mastercard.svg" height="100" width="100" alt="mastercard")
                        li
                            img(src="./icons/pay/american_express.svg" height="100" width="100" alt="american express")
                        li
                            img(src="./icons/pay/paypal.svg" height="100" width="100" alt="paypal")
                        li
                            img(src="./icons/pay/bitcoin.svg" height="100" width="100" alt="bitcoin")
                        li
                            img(src="./icons/pay/okpay.svg" height="100" width="100" alt="okpay")
                        li
                            img(src="./icons/pay/amazonpay.svg" height="100" width="100" alt="amazonpay")
            .col-12
                .pricing-link
                    a(href="#" title="How to pay anonymously")
                       span How to pay anonymously
                       svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                          g(id="icon_green_upload" data-name="icon/green/upload" transform="translate(24) rotate(90)")
                            path(id="Shape" d="M4.608.165a.55.55,0,0,1,.786,0L9.838,4.678a.571.571,0,0,1,0,.8.55.55,0,0,1-.786,0l-3.5-3.549v12.51a.556.556,0,1,1-1.111,0V1.926L.949,5.475a.55.55,0,0,1-.786,0,.569.569,0,0,1,0-.8Z" transform="translate(7 4)" fill="#4cb649")

                    a(href="#" title="REDEEM GIFT CARD")
                        span REDEEM GIFT CARD
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            g(id="icon_green_upload" data-name="icon/green/upload" transform="translate(24) rotate(90)")
                                path(id="Shape" d="M4.608.165a.55.55,0,0,1,.786,0L9.838,4.678a.571.571,0,0,1,0,.8.55.55,0,0,1-.786,0l-3.5-3.549v12.51a.556.556,0,1,1-1.111,0V1.926L.949,5.475a.55.55,0,0,1-.786,0,.569.569,0,0,1,0-.8Z" transform="translate(7 4)" fill="#4cb649")